@import url("https://fonts.google.com/specimen/Inter");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
}
body {
  background: #f3ede5;
}
.justify-content-start {
  justify-content: start !important;
}
.align-items-start {
  align-items: flex-start !important;
}
.flex-direction-column {
  flex-direction: column !important;
}
.flex-wrap {
  flex-wrap: wrap !important;
}
.container {
  width: 80%;
}
.w-100 {
  width: 100%;
}
.m-0 {
  margin: 0 !important;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  color: #6c6c6c;
  text-align: center;
}
button {
  color: aliceblue;
  font-size: 18px;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
  padding: 10px 30px 10px 30px;
  margin-top: 20px;
  font-weight: bold;
}
.btn-success {
  background-color: #15ca06;
}
.btn-del {
  background-color: #e80711;
}
.task {
  display: grid;
  grid-template-columns: 2fr 0fr;
  align-items: center;
  margin: 20px;
  background: aliceblue;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 0;
}
.add-btn,
.add-div {
  width: 65px;
  height: 65px;
  border-radius: 100%;
  background: #15ca06;
  padding: 0;
  font-size: 33px;
  position: fixed;
  top: 75%;
  left: 15%;
  overflow: hidden;
  transition: 0.3s;
  margin: 0;
}
.cl-add-div {
  width: 100%;
  height: 100vh;
  border-radius: 0;
  top: 0;
  background: #fbd6a5;
  left: 0;
}
.cl-btn {
  transform: rotate(45deg);
  background: #d9032b;
}
#listInput {
  width: 50%;
  min-width: 300px;
  margin-top: 10px;
  padding: 10px;
}
/* naveBar */
